@model GetCategoriesPageVM 

Yeni Kategori eklemek için <a asp-controller="Category" asp-action="CreateCategory">tıklayınız</a>
<h3> Kategoriler</h3>
<h5 style="color:red">@TempData["message"]</h5>

<table class="table table-hover"> 
    <thead>
        <tr>
            <th>KategoriID</th>
            <th>Kategori Ismi</th>
            <th>Kategori Aciklamasi</th>
            <th>Guncelleme</th>
            <th>Silme</th>
        </tr>
    </thead>  
    
    <tbody>
        @foreach (Category item in Model.Categories)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.CategoryName</td>
                <td>@item.Description</td>
                <td><a class="btn - btn-warning" asp-controller="Category" asp-action="UpdateCategory" asp-route-id="@item.ID"> Güncelle</a></td>
                <td><a class="btn - btn-danger"asp-controller="Category" asp-action="DeleteCategory" asp-route-id="@item.ID"> Delete </a></td>
                <td></td>
            </tr>
        }
        
    </tbody>

</table>